/* The webpage overall styling */
/* @media screen and (min-width: 600px) {
    
} */

#aside {
    height: 600px;
    width: 100vw;
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
}

#aside model-viewer {
    height: 100%;
    width: 100%;
    position: absolute;
    border: none;
}
/* @media (max-width: 1500px) {
    body h1#title {
        display: none;
    }    

    body:after {
        content: "There is not enough space to show taking tree";
    } 
} */
* {
    padding: 0;
    margin: 0;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 100px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    /* background-color: #960000; */
}

#title {
    display: flex;
    justify-content: center;
    text-align: center;
}

/*  This is for styling the main container that holds everything */

#container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    background: #960000;
}

#theside {
    position: absolute;
    margin-top: 30%;
    margin-right: 60%;
}
#theside img {
    width: 70%;
}

/* This styles the aside container */


